pagina de cadastro/pagina de cadastro/flows.json
[
    {
        "id": "4be578c302467904",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "17ebaa6e39b8ac8d",
        "type": "http in",
        "z": "4be578c302467904",
        "name": "",
        "url": "/api-form",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "18e460332de9170d"
            ]
        ]
    },
    {
        "id": "b6e1bc9a9fb97690",
        "type": "mysql",
        "z": "4be578c302467904",
        "mydb": "5bb4c3ca929718b2",
        "name": "",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "1103c1f53ec3ddc6"
            ]
        ]
    },
    {
        "id": "9fb1bc97ed71e06a",
        "type": "http response",
        "z": "4be578c302467904",
        "name": "",
        "statusCode": "200 ",
        "headers": {},
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "18e460332de9170d",
        "type": "function",
        "z": "4be578c302467904",
        "name": "function 1",
        "func": "const nome = msg.payload.nome ? `'${msg.payload.nome}'` : 'NULL';\nconst email = msg.payload.email ? `'${msg.payload.email}'` : 'NULL';\nconst telefone = msg.payload.telefone ? `'${msg.payload.telefone}'` : 'NULL';\nconst senha = msg.payload.senha ? `'${msg.payload.senha}'` : 'NULL';\n\nmsg.topic = `\n    INSERT INTO login (nome, email, telefone, senha)\n    VALUES (${nome}, ${email}, ${telefone}, ${senha})\n`;\nreturn msg;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "b6e1bc9a9fb97690"
            ]
        ]
    },
    {
        "id": "1103c1f53ec3ddc6",
        "type": "change",
        "z": "4be578c302467904",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"Cadastro realizado com sucesso!\"",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "9fb1bc97ed71e06a"
            ]
        ]
    },
    {
        "id": "5bb4c3ca929718b2",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "login_mecanico",
        "tz": "",
        "charset": "UTF8"
    }
]