Node-red/Back_End-V10.json
[
    {
        "id": "c7ac44f868b6d0a5",
        "type": "tab",
        "label": "FixNow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b69c440efb9ab5b2",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Leitura e armazenamento de sensores",
        "style": {
            "label": true,
            "stroke": "#ff0000"
        },
        "nodes": [
            "e28058d2b18e8fb5",
            "d74260ba4e715d60",
            "123103ab97afc255"
        ],
        "x": 54,
        "y": 59,
        "w": 632,
        "h": 82
    },
    {
        "id": "5d6a214be4284ba5",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Buscar Maquinas",
        "style": {
            "stroke": "#92d04f",
            "label": true
        },
        "nodes": [
            "22a0a7c14a87560a",
            "cfbfe8a5ea1932a9",
            "7f1a3e9f99e1e601",
            "94e1175a3b79e692",
            "c2a08454ebe2fa08"
        ],
        "x": 54,
        "y": 439,
        "w": 1232,
        "h": 82
    },
    {
        "id": "b8124649a306be57",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Monitoramento do Status das Maquinas",
        "style": {
            "label": true
        },
        "nodes": [
            "ec6aaee580cc8344",
            "4b48d0dd654a8f6d",
            "778684b01f84f0c8"
        ],
        "x": 54,
        "y": 159,
        "w": 712,
        "h": 82
    },
    {
        "id": "c21dd1f3ff0fb0fd",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Buscar Solicitações com filtro INDUSTRIAL",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "55d032dd28f4d845",
            "bba6f32eb0391385",
            "64187337aa011fb3",
            "1792446b4dd21aaa",
            "02a8ef5d19966a9c"
        ],
        "x": 54,
        "y": 339,
        "w": 1232,
        "h": 82
    },
    {
        "id": "2b304b1708b1b087",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Cadastrar Usuario",
        "style": {
            "stroke": "#ffff00",
            "label": true
        },
        "nodes": [
            "0c8fdf901821ac1c",
            "2a6c9e8ed88905ce",
            "ed8c92b3c6fa335e",
            "a50dcd854d1aeaeb"
        ],
        "x": 54,
        "y": 1239,
        "w": 1232,
        "h": 82
    },
    {
        "id": "41efe718dec873fd",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Fazer Login",
        "style": {
            "stroke": "#ffff00",
            "label": true
        },
        "nodes": [
            "67c242fdb5c4079b",
            "b0addfd390cc5eba",
            "7e7d26402fd8b022",
            "334ed9ca342f6489",
            "c38c278a3ba02cad"
        ],
        "x": 54,
        "y": 1359,
        "w": 1232,
        "h": 82
    },
    {
        "id": "7de83f24fe07e557",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Salvar Solicitação",
        "style": {
            "label": true,
            "stroke": "#ffff00"
        },
        "nodes": [
            "56b8a54e3a89ae3f",
            "fdddec48fa373a64",
            "59f72c4e8c5af560",
            "1b9215387fb95734"
        ],
        "x": 54,
        "y": 1119,
        "w": 1232,
        "h": 82
    },
    {
        "id": "3972e37853c09c97",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Buscar Solicitações com filtro EM ANDAMENTO",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "da18b3b0c1af91b0",
            "834ac0e123c011c2",
            "8deaadaccf2ca878",
            "83860f857f639a88",
            "fec920017173f86c"
        ],
        "x": 54,
        "y": 739,
        "w": 1232,
        "h": 82
    },
    {
        "id": "f5c91802e0648404",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Buscar Solicitações com filtro CONCLUIDO",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "ad60e2b86ada60cb",
            "7edddfad58fbc62d",
            "762926ca38a70e8b",
            "cd79a13690f25350",
            "7ff4f9c57eaf3826"
        ],
        "x": 54,
        "y": 839,
        "w": 1232,
        "h": 82
    },
    {
        "id": "b06df0db67a3e98f",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Buscar Solicitações com filtro EM AVALIACAO",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "c7a5045600e08082",
            "f126f69c954d5a53",
            "0949d7e27f579b1f",
            "74c56810ad685ad8",
            "188f99a08413efd3"
        ],
        "x": 54,
        "y": 639,
        "w": 1232,
        "h": 82
    },
    {
        "id": "3b02f041768a5ab2",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Buscar Solicitações (também utilizado para exportar o csv)",
        "style": {
            "label": true,
            "stroke": "#92d04f"
        },
        "nodes": [
            "e73fc4c084409107",
            "fcf02662264960c9",
            "493adddb8d47ade8",
            "2019ad2eacd1aa48",
            "76f44f2ce02e35d6"
        ],
        "x": 54,
        "y": 539,
        "w": 1232,
        "h": 82
    },
    {
        "id": "e089da60b564aac0",
        "type": "group",
        "z": "c7ac44f868b6d0a5",
        "name": "Marcar Como Em Andamento",
        "style": {
            "stroke": "#ffff00",
            "label": true
        },
        "nodes": [
            "9dea87f7750ac8fd",
            "e7e0d47cd7421611",
            "d4ad14849bc2a679",
            "7bb271a631a50196"
        ],
        "x": 54,
        "y": 999,
        "w": 1232,
        "h": 82
    },
    {
        "id": "e28058d2b18e8fb5",
        "type": "serial in",
        "z": "c7ac44f868b6d0a5",
        "g": "b69c440efb9ab5b2",
        "name": "UNO",
        "serial": "8cf36e59907d8385",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "d74260ba4e715d60"
            ]
        ]
    },
    {
        "id": "d74260ba4e715d60",
        "type": "json",
        "z": "c7ac44f868b6d0a5",
        "g": "b69c440efb9ab5b2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 100,
        "wires": [
            [
                "123103ab97afc255"
            ]
        ]
    },
    {
        "id": "123103ab97afc255",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "b69c440efb9ab5b2",
        "name": "armazenarTemperatura",
        "func": "global.set(\"temperatura1\", msg.payload.temperatura1);\nglobal.set(\"temperatura2\", msg.payload.temperatura2);\n\n// Define como ativa sempre que chega dado\nglobal.set(\"statusMaquina\", \"ativo\");\n\n// Se já existir um timer anterior, cancela\nvar timeoutId = global.get(\"statusTimeout\");\nif (timeoutId) {\n    clearTimeout(timeoutId);\n}\n\n// Cria um novo timer de 5 segundos\ntimeoutId = setTimeout(function() {\n    global.set(\"statusMaquina\", \"inativo\");\n}, 5000); // 5000 milissegundos = 5 segundos\n\n// Salva o novo timeoutId na memória global para poder limpar depois\nglobal.set(\"statusTimeout\", timeoutId);\n\nvar status = global.get(\"statusMaquina\") || \"desconhecido\";\nmsg.payload = status;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "22a0a7c14a87560a",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "5d6a214be4284ba5",
        "name": "",
        "url": "/buscarmaquinas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "cfbfe8a5ea1932a9"
            ]
        ]
    },
    {
        "id": "cfbfe8a5ea1932a9",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "5d6a214be4284ba5",
        "name": "BuscarMaquina",
        "func": "msg.topic = \"SELECT id_maquina, nome, status FROM maquina;\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "7f1a3e9f99e1e601"
            ]
        ]
    },
    {
        "id": "7f1a3e9f99e1e601",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "5d6a214be4284ba5",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 760,
        "y": 480,
        "wires": [
            [
                "94e1175a3b79e692"
            ]
        ]
    },
    {
        "id": "94e1175a3b79e692",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "5d6a214be4284ba5",
        "name": "TEMPERATURA",
        "func": "let temperatura1 = global.get('temperatura1');\nlet temperatura2 = global.get('temperatura2'); // Adicionei a segunda temperatura\nlet status = 1; // 1 = ligado\n\n// Cria array de máquinas\nlet maquinas = msg.payload.map(item => {\n    // Seleciona a temperatura correta baseada no ID\n    let temperatura;\n    if (item.id_maquina === 1) {\n        temperatura = temperatura1;\n        if (item.status === \"inativo\"){\n            temperatura = 0;\n        }\n    } else if (item.id_maquina === 2) {\n        temperatura = temperatura2;\n        if (item.status === \"inativo\") {\n            temperatura = 0;\n        }\n    } else {\n        temperatura = null; // ou um valor padrão caso os IDs sejam diferentes\n    }\n\n    \n    return {\n        id: item.id_maquina,\n        nome: item.nome,\n        temperatura: temperatura,\n        status: item.status\n    };\n});\n\nmsg.payload = maquinas;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "c2a08454ebe2fa08"
            ]
        ]
    },
    {
        "id": "c2a08454ebe2fa08",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "5d6a214be4284ba5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 480,
        "wires": []
    },
    {
        "id": "ec6aaee580cc8344",
        "type": "inject",
        "z": "c7ac44f868b6d0a5",
        "g": "b8124649a306be57",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "778684b01f84f0c8"
            ]
        ]
    },
    {
        "id": "4b48d0dd654a8f6d",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "b8124649a306be57",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 680,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "778684b01f84f0c8",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "b8124649a306be57",
        "name": "AtualizarStatus",
        "func": "// Pega o status atual\nvar statusAtual = global.get(\"statusMaquina\");\n\n// Pega o último status conhecido\nvar ultimoStatus = flow.get(\"ultimoStatusMaquina\") || null;\n\n// Se mudou\nif (statusAtual !== ultimoStatus) {\n    // Atualiza o último status\n    flow.set(\"ultimoStatusMaquina\", statusAtual);\n    \n    // Aqui você monta a mensagem para atualizar no banco de dados\n    msg.topic = \"UPDATE maquina SET status = ?\"; // Supondo que você tenha um campo 'id' para identificar a máquina\n    msg.payload = [statusAtual]; // 'idDaMaquina' deve ser definido com o identificador da máquina\n    \n    // Deixa seguir para o nó do banco\n    return msg;\n} else {\n    // Se não mudou, não faz nada\n    return null; // não manda nada para frente\n}\n\nmsg.payload = statusAtual;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 200,
        "wires": [
            [
                "4b48d0dd654a8f6d"
            ]
        ]
    },
    {
        "id": "55d032dd28f4d845",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "c21dd1f3ff0fb0fd",
        "name": "",
        "url": "/buscarsolicitacaoIndustrial",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 380,
        "wires": [
            [
                "1792446b4dd21aaa"
            ]
        ]
    },
    {
        "id": "bba6f32eb0391385",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "c21dd1f3ff0fb0fd",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 760,
        "y": 380,
        "wires": [
            [
                "02a8ef5d19966a9c"
            ]
        ]
    },
    {
        "id": "64187337aa011fb3",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "c21dd1f3ff0fb0fd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 380,
        "wires": []
    },
    {
        "id": "1792446b4dd21aaa",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "c21dd1f3ff0fb0fd",
        "name": "BuscarSolicitação",
        "func": "msg.topic = \"SELECT * FROM solicitacao WHERE tipo=\\'Industrial\\'\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 380,
        "wires": [
            [
                "bba6f32eb0391385"
            ]
        ]
    },
    {
        "id": "02a8ef5d19966a9c",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "c21dd1f3ff0fb0fd",
        "name": "Converter Data",
        "func": "msg.payload = msg.payload.map(solicitacao => {\n    if (solicitacao.data) {\n        const dataOriginal = new Date(solicitacao.data);\n        const dia = String(dataOriginal.getDate()).padStart(2, '0');\n        const mes = String(dataOriginal.getMonth() + 1).padStart(2, '0');\n        const ano = dataOriginal.getFullYear();\n        solicitacao.data = `${dia}/${mes}/${ano}`;\n    }\n    return solicitacao;\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 380,
        "wires": [
            [
                "64187337aa011fb3"
            ]
        ]
    },
    {
        "id": "0c8fdf901821ac1c",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "2b304b1708b1b087",
        "name": "CadastrarUsuario",
        "func": "let nome = msg.payload.nome;\nlet email = msg.payload.email;\nlet senha = msg.payload.senha;\n\nmsg.topic = \n    \"INSERT INTO usuario (nome, email, senha) VALUES (?,?,?)\";\nmsg.payload = [nome, email, senha];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1280,
        "wires": [
            [
                "a50dcd854d1aeaeb"
            ]
        ]
    },
    {
        "id": "2a6c9e8ed88905ce",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "2b304b1708b1b087",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ed8c92b3c6fa335e",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "2b304b1708b1b087",
        "name": "",
        "url": "/cadastrarUsuario",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "0c8fdf901821ac1c"
            ]
        ]
    },
    {
        "id": "a50dcd854d1aeaeb",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "2b304b1708b1b087",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 700,
        "y": 1280,
        "wires": [
            [
                "2a6c9e8ed88905ce"
            ]
        ]
    },
    {
        "id": "67c242fdb5c4079b",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "41efe718dec873fd",
        "name": "",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1400,
        "wires": [
            [
                "b0addfd390cc5eba"
            ]
        ]
    },
    {
        "id": "b0addfd390cc5eba",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "41efe718dec873fd",
        "name": "FazerLogin",
        "func": "var email = msg.payload.email;\nvar senha = msg.payload.senha;\n\nvar valores = [email, senha]\n\nmsg.topic = \"SELECT * FROM usuario WHERE email = ? and senha = ?\";\nmsg.payload = valores;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1400,
        "wires": [
            [
                "7e7d26402fd8b022"
            ]
        ]
    },
    {
        "id": "7e7d26402fd8b022",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "41efe718dec873fd",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 700,
        "y": 1400,
        "wires": [
            [
                "c38c278a3ba02cad"
            ]
        ]
    },
    {
        "id": "334ed9ca342f6489",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "41efe718dec873fd",
        "name": "",
        "statusCode": "msg.statusCode",
        "headers": {},
        "x": 1160,
        "y": 1400,
        "wires": []
    },
    {
        "id": "56b8a54e3a89ae3f",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "7de83f24fe07e557",
        "name": "",
        "url": "/salvarsolicitacao",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1160,
        "wires": [
            [
                "59f72c4e8c5af560"
            ]
        ]
    },
    {
        "id": "fdddec48fa373a64",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "7de83f24fe07e557",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 700,
        "y": 1160,
        "wires": [
            [
                "1b9215387fb95734"
            ]
        ]
    },
    {
        "id": "59f72c4e8c5af560",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "7de83f24fe07e557",
        "name": "SalvarSolicitacao",
        "func": "let nome = msg.payload.nome;\nlet tipo = msg.payload.tipo;\nlet urgencia = msg.payload.urgencia;\nlet idMaquina = msg.payload.idMaquina;\nlet departamento = msg.payload.departamento;\nlet data = msg.payload.data;\nlet descricao = msg.payload.descricao;\nlet status = msg.payload.status; // Status padrão ao criar\n\n\nmsg.topic = \n    \"INSERT INTO solicitacao (nome, tipo, urgencia, id_maquina, departamento, data, descricao, status_solicitacao) VALUES (? ,?, ?, ? , ?, ?, ?, ? )\";\nmsg.payload = [nome, tipo, urgencia, idMaquina, departamento, data, descricao, status];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "fdddec48fa373a64"
            ]
        ]
    },
    {
        "id": "1b9215387fb95734",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "7de83f24fe07e557",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 1160,
        "wires": []
    },
    {
        "id": "da18b3b0c1af91b0",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "3972e37853c09c97",
        "name": "",
        "url": "/buscarsolicitacaoeEmandamento",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "83860f857f639a88"
            ]
        ]
    },
    {
        "id": "834ac0e123c011c2",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "3972e37853c09c97",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 760,
        "y": 780,
        "wires": [
            [
                "fec920017173f86c"
            ]
        ]
    },
    {
        "id": "8deaadaccf2ca878",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "3972e37853c09c97",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 780,
        "wires": []
    },
    {
        "id": "83860f857f639a88",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "3972e37853c09c97",
        "name": "BuscarSolicitação",
        "func": "msg.topic = \"SELECT * FROM solicitacao WHERE status_solicitacao=\\'Em andamento\\'\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 780,
        "wires": [
            [
                "834ac0e123c011c2"
            ]
        ]
    },
    {
        "id": "fec920017173f86c",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "3972e37853c09c97",
        "name": "Converter Data",
        "func": "msg.payload = msg.payload.map(solicitacao => {\n    if (solicitacao.data) {\n        const dataOriginal = new Date(solicitacao.data);\n        const dia = String(dataOriginal.getDate()).padStart(2, '0');\n        const mes = String(dataOriginal.getMonth() + 1).padStart(2, '0');\n        const ano = dataOriginal.getFullYear();\n        solicitacao.data = `${dia}/${mes}/${ano}`;\n    }\n    return solicitacao;\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 780,
        "wires": [
            [
                "8deaadaccf2ca878"
            ]
        ]
    },
    {
        "id": "ad60e2b86ada60cb",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "f5c91802e0648404",
        "name": "",
        "url": "/buscarsolicitacaoConcluido",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "cd79a13690f25350"
            ]
        ]
    },
    {
        "id": "7edddfad58fbc62d",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "f5c91802e0648404",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 760,
        "y": 880,
        "wires": [
            [
                "7ff4f9c57eaf3826"
            ]
        ]
    },
    {
        "id": "762926ca38a70e8b",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "f5c91802e0648404",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 880,
        "wires": []
    },
    {
        "id": "cd79a13690f25350",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "f5c91802e0648404",
        "name": "BuscarSolicitação",
        "func": "msg.topic = \"SELECT * FROM solicitacao WHERE status_solicitacao=\\'Concluido\\'\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 880,
        "wires": [
            [
                "7edddfad58fbc62d"
            ]
        ]
    },
    {
        "id": "7ff4f9c57eaf3826",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "f5c91802e0648404",
        "name": "Converter Data",
        "func": "msg.payload = msg.payload.map(solicitacao => {\n    if (solicitacao.data) {\n        const dataOriginal = new Date(solicitacao.data);\n        const dia = String(dataOriginal.getDate()).padStart(2, '0');\n        const mes = String(dataOriginal.getMonth() + 1).padStart(2, '0');\n        const ano = dataOriginal.getFullYear();\n        solicitacao.data = `${dia}/${mes}/${ano}`;\n    }\n    return solicitacao;\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 880,
        "wires": [
            [
                "762926ca38a70e8b"
            ]
        ]
    },
    {
        "id": "c7a5045600e08082",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "b06df0db67a3e98f",
        "name": "",
        "url": "/buscarsolicitacaoeEmavaliacao",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 680,
        "wires": [
            [
                "74c56810ad685ad8"
            ]
        ]
    },
    {
        "id": "f126f69c954d5a53",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "b06df0db67a3e98f",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 760,
        "y": 680,
        "wires": [
            [
                "188f99a08413efd3"
            ]
        ]
    },
    {
        "id": "0949d7e27f579b1f",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "b06df0db67a3e98f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 680,
        "wires": []
    },
    {
        "id": "74c56810ad685ad8",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "b06df0db67a3e98f",
        "name": "BuscarSolicitação",
        "func": "msg.topic = \"SELECT * FROM solicitacao WHERE status_solicitacao=\\'Em avaliacao\\'\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 680,
        "wires": [
            [
                "f126f69c954d5a53"
            ]
        ]
    },
    {
        "id": "188f99a08413efd3",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "b06df0db67a3e98f",
        "name": "Converter Data",
        "func": "msg.payload = msg.payload.map(solicitacao => {\n    if (solicitacao.data) {\n        const dataOriginal = new Date(solicitacao.data);\n        const dia = String(dataOriginal.getDate()).padStart(2, '0');\n        const mes = String(dataOriginal.getMonth() + 1).padStart(2, '0');\n        const ano = dataOriginal.getFullYear();\n        solicitacao.data = `${dia}/${mes}/${ano}`;\n    }\n    return solicitacao;\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 680,
        "wires": [
            [
                "0949d7e27f579b1f"
            ]
        ]
    },
    {
        "id": "e73fc4c084409107",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "3b02f041768a5ab2",
        "name": "",
        "url": "/buscarsolicitacao",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "2019ad2eacd1aa48"
            ]
        ]
    },
    {
        "id": "fcf02662264960c9",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "3b02f041768a5ab2",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "76f44f2ce02e35d6"
            ]
        ]
    },
    {
        "id": "493adddb8d47ade8",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "3b02f041768a5ab2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 580,
        "wires": []
    },
    {
        "id": "2019ad2eacd1aa48",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "3b02f041768a5ab2",
        "name": "BuscarSolicitação",
        "func": "msg.topic = \"SELECT * FROM solicitacao\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 580,
        "wires": [
            [
                "fcf02662264960c9"
            ]
        ]
    },
    {
        "id": "76f44f2ce02e35d6",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "3b02f041768a5ab2",
        "name": "Converter Data",
        "func": "msg.payload = msg.payload.map(solicitacao => {\n    if (solicitacao.data) {\n        const dataOriginal = new Date(solicitacao.data);\n        const dia = String(dataOriginal.getDate()).padStart(2, '0');\n        const mes = String(dataOriginal.getMonth() + 1).padStart(2, '0');\n        const ano = dataOriginal.getFullYear();\n        solicitacao.data = `${dia}/${mes}/${ano}`;\n    }\n    return solicitacao;\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 580,
        "wires": [
            [
                "493adddb8d47ade8"
            ]
        ]
    },
    {
        "id": "c38c278a3ba02cad",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "41efe718dec873fd",
        "name": "SalvarSolicitacao",
        "func": "if(msg.payload.length > 0){\n    msg.statusCode = 200;\n}else{\n    msg.statusCode = 404;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1400,
        "wires": [
            [
                "334ed9ca342f6489"
            ]
        ]
    },
    {
        "id": "9dea87f7750ac8fd",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "g": "e089da60b564aac0",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1210,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e7e0d47cd7421611",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "g": "e089da60b564aac0",
        "name": "EditarSolicitação",
        "func": "let nome = msg.payload.nome;\nlet id = msg.payload.id_solicitacao;\nlet mudar = msg.payload.mudar;\nlet vazio = null;\nlet statusAtual = msg.payload.statusAtual;\nlet statusEmavaliacao = \"Em avaliacao\";\nlet statusEmAndamento = \"Em andamento\";\nlet statusConcluido = \"Concluido\";\n\nif (mudar == true && statusAtual == \"Em avaliacao\") {\n    msg.topic =\n        \"UPDATE solicitacao SET nome_responsavel = ? , status_solicitacao = ? where id_solicitacao = ?;\";\n    msg.payload = [nome, statusEmAndamento, id];\n} else {\n    msg.topic =\n        \"UPDATE solicitacao SET nome_responsavel = ? , status_solicitacao = ? where id_solicitacao = ?;\";\n    msg.payload = [vazio, statusEmavaliacao, id];\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1040,
        "wires": [
            [
                "7bb271a631a50196"
            ]
        ]
    },
    {
        "id": "d4ad14849bc2a679",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "g": "e089da60b564aac0",
        "name": "",
        "url": "/marcarEmAndamento",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "e7e0d47cd7421611"
            ]
        ]
    },
    {
        "id": "7bb271a631a50196",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "g": "e089da60b564aac0",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 700,
        "y": 1040,
        "wires": [
            [
                "9dea87f7750ac8fd"
            ]
        ]
    },
    {
        "id": "8ffc2b4c740f2288",
        "type": "http in",
        "z": "c7ac44f868b6d0a5",
        "name": "",
        "url": "/marcarStatusSolicitacao",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1540,
        "wires": [
            [
                "3ea1dea2936f7037"
            ]
        ]
    },
    {
        "id": "3ea1dea2936f7037",
        "type": "function",
        "z": "c7ac44f868b6d0a5",
        "name": "function 1",
        "func": "const id_solicitacao = msg.payload.id_solicitacao;\nconst status_solicitacao = msg.payload.status_solicitacao;\nconst nome_responsavel = msg.payload.nome_responsavel; \nmsg.topic = `\n    UPDATE solicitacao\n    SET\n        status_solicitacao = ?,\n        nome_responsavel = ?\n    WHERE\n        id_solicitacao = ?;\n`;\n\nmsg.payload = [status_solicitacao, nome_responsavel, id_solicitacao];\n\nconsole.log(\"SQL Query (msg.topic):\", msg.topic);\nconsole.log(\"SQL Parameters (msg.payload):\", msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1540,
        "wires": [
            [
                "a70d6dbfea78fe84"
            ]
        ]
    },
    {
        "id": "a70d6dbfea78fe84",
        "type": "mysql",
        "z": "c7ac44f868b6d0a5",
        "mydb": "7ad621cbb6ee4ae0",
        "name": "FIXNOW",
        "x": 620,
        "y": 1540,
        "wires": [
            [
                "17b599e939400830"
            ]
        ]
    },
    {
        "id": "17b599e939400830",
        "type": "http response",
        "z": "c7ac44f868b6d0a5",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 1540,
        "wires": []
    },
    {
        "id": "8cf36e59907d8385",
        "type": "serial-port",
        "name": "UNO",
        "serialport": "COM10",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "7ad621cbb6ee4ae0",
        "type": "MySQLdatabase",
        "name": "FIXNOW",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "fixnow",
        "tz": "",
        "charset": "UTF8"
    }
]